<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>网站信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{:statics('css')}font.css">
    <link rel="stylesheet" href="{:statics('css')}xadmin.css">
    <script src="{:statics('js')}jquery.min.js"></script>
    <script type="text/javascript" src="{:statics('public')}lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{:statics('js')}xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body class="form-wrap" >
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:void(0);">首页</a>
      <a href="javascript:void(0);">系统设置</a>
      <a><cite>支付设置</cite></a>
    </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:38px">ဂ</i>
    </a>
  </div>
  <div class="layui-fluid" id="component-tabs">
    <div class="layui-row">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <div class="layui-tab">
              <ul class="layui-tab-title" id="xuan_tab">
                <li class="layui-this">微信支付</li>
                <li>支付宝支付</li>
                <li>余额支付</li>
                <li>积分支付</li>
              </ul>
              <form class="layui-form" action="" lay-filter="component-form-group" id="froma">
                <div class="layui-tab-content" id="ying_tab">
                  <div class="layui-tab-item layui-show">{include file="payment/wechat" /}</div>
                  <div class="layui-tab-item">{include file="payment/alipay" /}</div>
                  <div class="layui-tab-item">{include file="payment/yue" /}</div>
                  <div class="layui-tab-item">{include file="payment/jifen" /}</div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                  <div class="layui-input-block">
                    <div class="layui-footer" style="left: 0;">
                      <button class="layui-btn" lay-submit="" lay-filter="froma">立即提交</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  $("#xuan_tab li").click(function(){
    var ii = $(this).index();
    $('#ying_tab .layui-tab-item').removeClass('layui-show');
    $('#ying_tab .layui-tab-item').eq(ii).addClass('layui-show');
  })
  layui.use(['form','layer','upload'], function(){
    $ = layui.jquery;
    var form = layui.form,layer = layui.layer,upload = layui.upload;
    var uploadInst = upload.render({
      elem: '#test1',
      url: '{:url('admin/payment/uploada')}',
      accept: 'file',
      done: function(res){
        if(res.code == 0) {
          $("#head_img").val(res.returnData.url);
        } else {
          layer.msg(res.msg);
        }
      }
      ,error: function(){
        //演示失败状态，并实现重传
        var demoText = $('#demoText');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function(){
          uploadInst.upload();
        });
      }
    });
    var uploadInst = upload.render({
      elem: '#test2',
      url: '{:url('admin/payment/uploada')}',
      accept: 'file',
      done: function(res){
        if(res.code == 0) {
          $("#head_imga").val(res.returnData.url);
        } else {
          layer.msg(res.msg);
        }
      }
      ,error: function(){
        //演示失败状态，并实现重传
        var demoText = $('#demoTexta');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function(){
          uploadInst.upload();
        });
      }
    });
    var uploadInst = upload.render({
      elem: '#test3',
      url: '{:url('admin/payment/uploada')}',
      accept: 'file',
      done: function(res){
        if(res.code == 0) {
          $("#head_imgb").val(res.returnData.url);
        } else {
          layer.msg(res.msg);
        }
      }
      ,error: function(){
        //演示失败状态，并实现重传
        var demoText = $('#demoTextb');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function(){
          uploadInst.upload();
        });
      }
    });
    //监听提交
    form.on('submit(froma)',function(e){
      $.ajax({
        url:"{:url('admin/payment/publish')}",
        data:$('#froma').serialize(),
        dataType:'json',
        type:'post',
        success:function(res){
          if(res.code=='0'){
            layer.msg(res.msg,{icon:1,time:2000});
          }else{
            layer.msg(res.msg,{icon:2,time:1000});
          }
        },
        error:function(res){
          layer.msg('网络连接错误',{icon:2,time:1000});
        }
      })
      return false;
    });
  });
</script>
</html>