<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>门店列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{:statics('css')}font.css">
    <link rel="stylesheet" href="{:statics('css')}xadmin.css">
    <script src="{:statics('js')}jquery.min.js"></script>
    <script type="text/javascript" src="{:statics('public')}lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{:statics('js')}xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:void(0);">首页</a>
        <a href="javascript:void(0);">人人拼团</a>
        <a><cite>拼团管理</cite></a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i>
      </a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so layui-form-pane" id="search">
          <div class="layui-inline">
            <select lay-search name="status" lay-filter="myselect1" id="status">
              <option value="all">全部状态</option>
              <option value="1" {if $status=="1"}selected{/if}>开团中</option>
              <option value="2" {if $status=="2"}selected{/if}>已成团</option>
              <option value="3" {if $status=="3"}selected{/if}>已提现</option>
            </select>
          </div>
          <input type="text" name="keys"  placeholder="请输入关键字" autocomplete="off" class="layui-input" style="width:300px" value="{$Request.get.keys}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="200">团单号</th>
            <th>商品</th>
            <th width="70">参团数据</th>
            <th width="70">团长</th>
            <th width="100">状态</th>
            <th width="90">操作</th>
          </tr>
        </thead>
        <tbody>
          {foreach name="list" item="v" key="k"}
            <tr>
              <td>{$v.ordersn}</td>
              <td>
                <img src="{$v.thumb|getImage}" style="width:20%;float: left;">
                <div style="float:left;width:78%;padding-left: 2%;">
                  <div style="color:#000000;">{$v.title}</div>
                  <div style="color:#666666;">{$v.description}</div>
                  <div style="padding-top: 10px">￥{$v.groupsprice}</div>
                </div>
              </td>
              <td>
                <span style="color:red;">{$v.now_num}</span> / {$v.max_num}
              </td>
              <td>{$v.tuanzhang_id|getMember}</td>
              <td>
                {eq name="v.status" value="1"}<span>开团中</span>{/eq}
                {eq name="v.status" value="2"}<span>已成团</span>{/eq}
                {eq name="v.status" value="1"}<span>已提现</span>{/eq}
              </td>
              <td>
                <a href="{:url('admin/groups/tuan_detail',['id'=>$v.id])}"><p style="color:#23a5f0">查看详情</p></a>
                <a href="{:url('admin/groups/tuan_chuli',['id'=>$v.id])}">处理异常</a>
              </td>
            </tr>
          {/foreach}
        </tbody> 
      </table>
      <div id="page" {eq name="count" value="0"}style="display:none;"{/eq}>
        {$list|raw}
      </div>
      {eq name="count" value="0"}
        <p style="text-align:center;line-height:80px;color:red;font-size:16px;">暂时没有相关订单</p>
      {/eq}
    </div>
  </body>
</html>