<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <handlers>
            <remove name="AboMapperCustom-9953" />
            <add name="php" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\Npoint_PHP\Npoint_PHP56\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
