<div class="layui-form-item">
    <label class="layui-form-label">成交订单数</label>
    <div class="layui-form-mid layui-word-aux">
        {$one.id|memberorder} 单
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">成交金额</label>
    <div class="layui-form-mid layui-word-aux">
        ￥ {$one.id|memberChengjiao} 元
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">最近交易</label>
    <div class="layui-form-mid layui-word-aux">
        {$one.id|memberZuijin}
    </div>
</div>