<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>护眼讲座列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{:statics('css')}font.css">
    <link rel="stylesheet" href="{:statics('css')}xadmin.css">
    <script src="{:statics('js')}jquery.min.js"></script>
    <script type="text/javascript" src="{:statics('public')}lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{:statics('js')}xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:void(0);">首页</a>
        <a href="javascript:void(0);">内容管理</a>
        <a><cite>视频讲座</cite></a>
      </span>
      <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i>
      </a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so layui-form-pane" id="search">
          <input type="text" name="riqi" id="riqi" class="layui-input" value="{$riqi}" readonly="readonly" placeholder="请选择日期" style="width:350px;">
          <input type="text" name="keys"  placeholder="请输入讲座标题/主讲人关键字" autocomplete="off" class="layui-input" style="width:300px" value="{$keys}">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="edits('添加讲座','{:url('admin/cms/video_publish')}')"><i class="layui-icon"></i>添加讲座</button>
        <button class="layui-btn" onclick="x_admin_show('下期预告','{:url('admin/cms/video_publish',['id'=>'1'])}')"><i class="icon iconfont"></i>下期预告</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="20">
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th width="70">编号</th>
            <th>讲座标题</th>
            <th width="100">主讲人</th>
            <th width="190">主讲时间</th>
            <th width="150">发布时间</th>
            <th width="50">状态</th>
            <th width="140">操作</th>
          </tr>
        </thead>
        <tbody>
          {foreach name="list" item="v" key="k"}
            <tr>
              <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.id}'><i class="layui-icon">&#xe605;</i></div>
              </td>
              <td>{$v.id}</td>
              <td>{$v.title}</td>
              <td>{$v.zhujiang}</td>
              <td>开始：{$v.starttime} <br/>结束：{$v.endtime}</td>
              <td>{$v.addtime|date="Y-m-d H:i:s"}</td>
              <td class="yc">
                <input type="checkbox" name="switch"  lay-text="ON|OFF" class="hide-show" data-id="{$v.id}" data-st="{$v.is_show}" {eq name="v.is_show" value="y"}checked=""{/eq} lay-skin="switch">
              </td>
              <td>
                <button class="layui-btn layui-btn layui-btn-xs"  onclick="edits('编辑资讯','{:url('admin/cms/video_publish',['id'=>$v.id])}','',550)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'{$v.id}')" href="javascript:void(0);" ><i class="layui-icon">&#xe640;</i>删除</button>
              </td>
            </tr>
          {/foreach}
        </tbody>
      </table>
      <div id="page" {eq name="count" value="0"}style="display:none;"{/eq}>
        {$list|raw}
      </div>
      {eq name="count" value="0"}
        <p style="text-align:center;line-height:80px;color:red;font-size:16px;">暂时没有相关护眼讲座</p>
      {/eq}
    </div>
  </body>
  <script type="text/javascript">
    layui.use(['laypage', 'layer','laydate'], function(){
      var laypage = layui.laypage,layer = layui.layer,laydate = layui.laydate;
      laydate.render({ 
        elem: '#riqi',
        type: 'datetime',
        range: "~", //或 range: '~' 来自定义分割字符
        done: function(value, date, endDate){
          $("#riqi").val(value);
          $('#search').submit();
        }
    });
    });
    $(document).on('click','.yc .layui-unselect',function(){
      var id = $(this).siblings('input').attr('data-id');
      var va = $(this).siblings('input').attr('data-st');
      var that = this;
      $.ajax({
        url:"{:url('admin/cms/video_show')}",
        data:{id:id,va:va},
        dataType:'json',
        type:'post',
        success:function(res){
          if(res.code=='0'){
            layer.msg(res.msg,{icon:1,time:2000});
            $(that).siblings('input').attr('data-st',res.va);
          }else{
            layer.msg(res.msg,{icon:2,time:1000});
          }
        },
        error:function(res){
          layer.msg('网络连接错误',{icon:2,time:1000});
        }
      })
    })
    /*删除*/
    function member_del(obj,id){
      layer.confirm('确认要删除该护眼讲座吗？',function(index){
        //发异步删除数据
        $.ajax({
          url:"{:url('admin/cms/video_del')}",
          data:{id:id},
          dataType:'json',
          type:'post',
          success:function(res){
            if(res.code=='0'){
              layer.msg(res.msg,{icon:1,time:2000});
              setTimeout(function(){
                location.replace(location.href);
              },2000);
            }else{
              layer.msg(res.msg,{icon:2,time:1000});
            }
          },
          error:function(res){
            layer.msg('网络连接错误',{icon:2,time:1000});
          }
        })
      });
    }
    function delAll (argument) {
      var data = tableCheck.getData();
      layer.confirm('确认要删除吗？',function(index){
        //捉到所有被选中的，发异步进行删除
        $.ajax({
          url:"{:url('admin/cms/video_del')}",
          data:{id:data},
          dataType:'json',
          type:'post',
          success:function(res){
            if(res.code=='0'){
              layer.msg(res.msg,{icon:1,time:2000});
              setTimeout(function(){
                location.replace(location.href);
              },2000);
            }else{
              layer.msg(res.msg,{icon:2,time:1000});
            }
          },
          error:function(res){
            layer.msg('网络连接错误',{icon:2,time:1000});
          }
        })
      });
    }
    function edits(title,url){
      window.location.href = url;
    }
  </script>
</html>