<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{:statics('css')}font.css">
    <link rel="stylesheet" href="{:statics('css')}xadmin.css">
    <script src="{:statics('js')}jquery.min.js"></script>
    <script type="text/javascript" src="{:statics('public')}lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{:statics('js')}xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body class="form-wrap" >
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:void(0);">首页</a>
      <a href="javascript:void(0);">内容管理</a>
      <a href="javascript:void(0);">店铺管理员</a>
      <a><cite>编辑店铺管理员</cite></a>
    </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:38px;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:38px;font-size:12px">ဂ刷新</i>
    </a>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:38px;margin-top:3px;float:right" href="{:url('admin/shop/admins')}" title="返回">
      <i class="fa fa-reply"></i>返回
    </a>
  </div>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group" id="froma">
          <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>所属店铺</label>
            <div class="layui-input-block">
                {eq name="admininfo.shop_id" value="0"}
                  <select name="shop_id" lay-filter="aihao" lay-search>
                      <option value="">选择店铺</option>
                      {foreach name="shop" item="v" key="k"}
                          <option value="{$v.id}" {notempty name="one.shop_id"}{eq name="v.id" value="$one.shop_id"}selected="selected"{/eq}{/notempty}>{$v.title}</option>
                      {/foreach}
                  </select>
                {else /}
                  <select name="shop_id" lay-filter="aihao" lay-search>
                      {foreach name="shop" item="v" key="k"}
                        {eq name="admininfo.shop_id" value="$v.id"}
                          <option value="{$v.id}" {notempty name="one.shop_id"}{eq name="v.id" value="$one.shop_id"}selected="selected"{/eq}{/notempty}>{$v.title}</option>
                        {/eq}
                      {/foreach}
                  </select>
                {/eq}
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>店铺管理员昵称</label>
            <div class="layui-input-block">
              {notempty name="one.id"}<input type="hidden" name="id" value="{$one.id}">{/notempty}
              <input type="text" name="nickname" required  lay-verify="required" placeholder="请输入店铺管理员昵称" autocomplete="off" class="layui-input" {notempty name="one.nickname"}value="{$one.nickname}"{/notempty}>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>账号</label>
            <div class="layui-input-block">
              <input type="text" name="username" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input" {notempty name="one.username"}value="{$one.username}" readonly="readonly" {/notempty}>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input type="password" name="password" class="layui-input" {notempty name="one.password"}value="" placeholder="请输入密码，店铺管理员登录后台使用，修改将导致店铺管理员无法登录，请慎重；不填或留空则表示不修改" {else /}placeholder="请输入密码，店铺管理员登录后台使用，不填或留空则默认为88888888"{/notempty}>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>手机号码</label>
            <div class="layui-input-block">
              <input type="text" name="phone" required  lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input" {notempty name="one.phone"}value="{$one.phone}"{/notempty}>
            </div>
          </div>
          {if $admininfo.shop_id=='0'}
            <div class="layui-form-item">
              <label class="layui-form-label">开启/关闭</label>
              <div class="layui-input-block">
                <input type="checkbox" {notempty name="one.is_show"}{eq name="one.is_show" value="y"}checked="checked"{/eq}{else /}checked="checked"{/notempty} name="is_show" lay-skin="switch" lay-filter="component-form-switchTest" lay-text="开启|关闭" value="y">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">是否店长</label>
              <div class="layui-input-block">
                <input type="checkbox" {notempty name="one.shop_type"}{eq name="one.shop_type" value="1"}checked="checked"{/eq}{/notempty} name="shop_type" lay-skin="switch" lay-filter="component-form-switchTest" lay-text="是|否" value="1">
              </div>
            </div>
          {else /}
            <input type="hidden" name="is_show" value="{notempty name="one.is_show"}{$one.is_show}{else}y{/notempty}">
          {/if}
          {if $admininfo.shop_id=='0' OR $admininfo.shop_type=='1'}
            <div class="layui-form-item layui-layout-admin">
              <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                  <button class="layui-btn" lay-submit="" lay-filter="froma">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
            </div>
          {/if}
        </form>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  layui.use(['form','layer','upload','laydate'], function(){
    $ = layui.jquery;
    var form = layui.form,layer = layui.layer,upload = layui.upload,laydate = layui.laydate;
    //监听提交
    form.on('submit(froma)',function(e){
      $.ajax({
        url:"{:url('admin/shop/admins_publish')}",
        data:$('#froma').serialize(),
        dataType:'json',
        type:'post',
        success:function(res){
          if(res.code==0){
            layer.msg(res.msg,{icon:1,time:2000});
            setTimeout(function(){
              window.history.go(-1);
            },2000);
          }else{
            layer.msg(res.msg,{icon:2,time:1000});
          }
        },
        error:function(res){
          layer.msg('网络连接错误',{icon:2,time:1000});
        }
      })
      return false;
    });
  })
</script>
</html>